@using Domain;
@using System.Security.Claims
@model Dictionary<IEnumerable<Locality>, IEnumerable<Municipality>>;
@{
    var claims = Context.Request.HttpContext.User.Claims;
    var munId = int.Parse(claims.Where(c => c.Type == ClaimTypes.StateOrProvince).First().Value);
    var locId = int.Parse(claims.Where(c => c.Type == ClaimTypes.Locality).First().Value);
}

<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Добавить план-график</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/schedule/">Планы-графики</a>
            </li>
            <li class="breadcrumb-item">Добавить план-график</li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Новый план-график</div>
            </div>
            <div class="ibox-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="munname">Муниципалитет</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="munname" name="municipality" disabled>
                                @foreach (var enummun in Model.Values)
                                {
                                    @foreach (var mun in enummun)
                                    {
                                        if (mun.id == munId)
                                        {
                                            <option value="@mun.id">@mun.name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="localityy">Населенный пункт</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="localityy" name="locality" disabled>
                                @foreach(var enumloc in Model.Keys)
                                {
                                    @foreach (var loc in enumloc)
                                    {
                                        if (loc.id == locId)
                                        {
                                            <option value="@loc.id">@loc.name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="dateapproval">Дата утверждения</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="dateapproval" type="date" name="dateapproval">
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>

                    <div class="ibox-head">
                        <div class="ibox-title">Задача на месяц</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="startdate">Дата начала</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="startdate" type="date" name="startdate">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="enddate">Дата окончания</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="enddate" type="date" name="enddate">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="animal-count">Количество животных</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="animal-count" type="text" name="count-animal">
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-10 ml-sm-auto">
                        <button class="btn btn-info" type="submit">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>