@using Domain;
@using System.Security.Claims
@model IEnumerable<Municipality>;
@{
    var claims = Context.Request.HttpContext.User.Claims;
    var munId = int.Parse(claims.Where(c => c.Type == ClaimTypes.StateOrProvince).First().Value);
}

<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Добавить контракт</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/contract/">Контракты</a>
            </li>
            <li class="breadcrumb-item">Добавить контракт</li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Новый контракт</div>
            </div>
            <div class="ibox-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="munname">Муниципалитет:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="munname" name="municipality" disabled>
                                @foreach (var mun in Model)
                                {
                                    if (mun.id == munId)
                                    {
                                        <option value="@mun.id">@mun.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="validperiof">Срок действия:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="validperiof" type="date" name="validityperiod">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="dateconcl">Дата заключения:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="dateconcl" type="date" name="dateconclusion">
                        </div>
                    </div>
                    <div class="col-sm-10 ml-sm-auto">
                        <button type="submit" class="btn btn-info">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>