@using Domain;
@model TaskMonth;

<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Изменить задание на месяц</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="/schedule/">Планы-графики</a>
            </li>
            <li class="breadcrumb-item">
                Изменить задание на месяц
            </li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Новое задание на месяц</div>
            </div>
            <div class="ibox-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="startdate">Дата начала</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="startdate" type="date" name="startdate" value=@Model.startdate.ToString("yyyy-MM-dd") required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="enddate">Дата окончания</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="enddate" type="date" name="enddate" value=@Model.enddate.ToString("yyyy-MM-dd") required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="count-animal">Количество животных</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="count-animal" type="number" name="count-animal" value="@Model.countanimal" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>

                    <input type="hidden" name="_method" value="PUT">
                    <div class="col-sm-10 ml-sm-auto">
                        <button class="btn btn-info" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>